/* Hacemos que cada sección sea contenedor relativo */
section {
  position: relative;
}

/* BASE DE LAS FLECHAS */
.arrow {
  width: 50px;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: transform 0.1s, opacity 0.5s ease;
  z-index: 60;
  opacity: 0;
}

/* Clase para mostrar la flecha */
.arrow.visible {
  opacity: 1;
}

/* Posiciona la flecha hacia arriba a 4rem (altura de navbar) + 20px de margen desde el top del contenedor de la sección */
.arrow.arrow-up {
  top: calc(4rem + 20px);
}

/* Posiciona la flecha hacia abajo a 4rem (altura de footer) + 20px de margen desde el bottom del contenedor de la sección */
.arrow.arrow-down {
  bottom: calc(4rem + 20px);
}

/* Efecto de clic para ambas flechas */
.arrow:active {
  transform: translateX(-50%) scale(0.9);
}

/* BARRAS DE LAS FLECHAS: reglas comunes para ambas direcciones */
.arrow-bar-left,
.arrow-bar-right {
  background-color: #666;
  height: 100%;
  left: 50%;
  position: absolute;
  width: 4px;
  top: 50%;
}

/* RELLENO INTERNO BASE */
.arrow-bar-left::after,
.arrow-bar-right::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #1f1f1f;
  left: 0;
  transition: height 0.15s;
}

/* ESTILOS DE LA FLECHA HACIA ABAJO */
/* Área ampliada de clic para facilitar la interacción */
.arrow-down::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 35%);
  width: 200px;
  height: 120px;
  background: transparent;
  z-index: 1;
}

.arrow-down .arrow-bar-left {
  transform: rotate(65deg);
  transform-origin: bottom left;
}

.arrow-down .arrow-bar-right {
  transform: rotate(-65deg);
  transform-origin: bottom right;
}

.arrow-down .arrow-bar-left::after {
  bottom: 0;
  top: auto;
  transition-delay: 0s;
}

.arrow-down .arrow-bar-right::after {
  top: 0;
  bottom: auto;
  transition-delay: 0.15s;
}

.arrow-down:hover .arrow-bar-left::after {
  height: 100%;
  transition-delay: 0.15s;
}

.arrow-down:hover .arrow-bar-right::after {
  height: 100%;
  transition-delay: 0s;
}

/* ESTILOS DE LA FLECHA HACIA ARRIBA */
/* Área ampliada de clic para facilitar la interacción */
.arrow-up::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
  width: 200px;
  height: 120px;
  background: transparent;
  z-index: 1;
}

.arrow-up .arrow-bar-left {
  transform: rotate(-65deg);
  transform-origin: top left;
}

.arrow-up .arrow-bar-right {
  transform: rotate(65deg);
  transform-origin: top right;
}

.arrow-up .arrow-bar-left::after {
  top: 0;
  bottom: auto;
  transition-delay: 0s;
}

.arrow-up .arrow-bar-right::after {
  bottom: 0;
  top: auto;
  transition-delay: 0.15s;
}

.arrow-up:hover .arrow-bar-left::after {
  height: 100%;
  transition-delay: 0.15s;
}

.arrow-up:hover .arrow-bar-right::after {
  height: 100%;
  transition-delay: 0s;
}