/* STYLES */

/*Hide Scroll Bar*/
#scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* Contenedor horizontal */
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  /* Oculta la scrollbar en Firefox */
  scrollbar-width: none;
}
/* Oculta la scrollbar en Webkit (Chrome, Safari, etc.) */
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Define el ancho de cada bloque: puede ser 100% o un ancho fijo, según tu diseño */
.horizontal-scroll-block {
  flex: 0 0 100%;
  /* Puedes ajustar el padding y margin según prefieras */
  padding: 1rem;
}


/*Float animation*/
@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .float-anim {
    animation: float 3s ease-in-out infinite;
  }
  