/* STYLES */

/*Hide Scroll Bar*/
#scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* Estilos para la sección de experiencia tipo Apple */
.gallery-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.styles-gallery {
  display: flex;
  height: 100%;
  width: 200%; /* Ajusta según cantidad de bloques; aquí se esperan 2 bloques */
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}
.styles-gallery::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.content-group {
  display: flex;
  width: 100%;
}
.experience-item {
  flex: 0 0 100%;
  padding: 1rem;
}


/*Float animation*/
@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .float-anim {
    animation: float 3s ease-in-out infinite;
  }
  